<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financemanager.mapper.UserSettingsMapper">

    <resultMap id="BaseResultMap" type="com.financemanager.entity.UserSettings">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="currency_code" property="currencyCode"/>
        <result column="currency_symbol" property="currencySymbol"/>
        <result column="notification_enabled" property="notificationEnabled"/>
        <result column="dark_mode_enabled" property="darkModeEnabled"/>
        <result column="biometric_enabled" property="biometricEnabled"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT * FROM user_settings WHERE user_id = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_settings (user_id, currency_code, currency_symbol, notification_enabled,
                                   dark_mode_enabled, biometric_enabled)
        VALUES (#{userId}, #{currencyCode}, #{currencySymbol}, #{notificationEnabled},
                #{darkModeEnabled}, #{biometricEnabled})
    </insert>

    <update id="update">
        UPDATE user_settings
        <set>
            <if test="currencyCode != null">currency_code = #{currencyCode},</if>
            <if test="currencySymbol != null">currency_symbol = #{currencySymbol},</if>
            <if test="notificationEnabled != null">notification_enabled = #{notificationEnabled},</if>
            <if test="darkModeEnabled != null">dark_mode_enabled = #{darkModeEnabled},</if>
            <if test="biometricEnabled != null">biometric_enabled = #{biometricEnabled},</if>
            updated_at = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>
